{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for row in history %}
                <tr>
                    <td class="text-start">{{ row["symbol"] }}</td>
                    <td class="text-end">{{ row["shares"] }}</td>
                    <td class="text-end">{{ usd(row["price"]) }}</td>
                    <td class="text-end">{{ row["date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}