{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in userPortfolio %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["company"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ usd(row["price"]) }}</td>
                    <td>{{ usd(row["shares"] * row["price"]) }}</td>
                </tr>
            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{ usd(userCash) }}</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td><strong>{{ usd(totalValue) }}</strong></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}