{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in userPortfolio %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["company"] }}</td>
                    <td> {{row["shares"] }}</td>
                    <td> {{row["price"] }}</td>
                    <td> {{  row["shares"] * row["price"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}