{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in userPortfolio %}
                <tr>
                    <td class="text-start">{{ row["symbol"] }}</td>
                    <td class="text-start">{{ row["company"] }}</td>
                    <td class="text-end">{{ row["shares"] }}</td>
                    <td class="text-end">{{ usd(row["price"]) }}</td>
                    <td class="text-end">{{ usd(row["shares"] * row["price"]) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ usd(userCash) }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 text-end">{{ usd(totalValue) }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}